@{
    ViewData["Title"] = "Home Page";
}

<form method='post' action='/queue-job'>
    <button type='submit'>Queue job</button>
</form>

<form method='post' action='/queue-command'>
    <button type='submit'>Queue command</button>
</form>